<div class="row">
  <div class="col-md-9">
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label>{{language == "English" ? english.add_new_recipe : dutch.add_new_recipe}}</label>
          <input type="text" class="form-control radius margin" [(ngModel)]="recipe.nameEn" id="nameEn"
            aria-describedby="nameEn" placeholder="Name Of Recipe(EN)">
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label class="invisible d-sm-block d-none">{{language == "English" ? english.add_new_recipe : dutch.add_new_recipe}}</label>
          <input type="text" class="form-control radius" [(ngModel)]="recipe.nameNl" id="nameNl"
            aria-describedby="nameNl" placeholder="Name Of Recipe(NL)">
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <input type="Number" class="form-control radius" [(ngModel)]="recipe.time" id="time" aria-describedby="time"
            [placeholder]="language == 'English' ? english.time_required_in_min : dutch.time_required_in_min">
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <select id="carbs" class="selectpicker form-control" name="pricing" [(ngModel)]="recipe.pricing">
            <option value="" disabled selected>{{language == "English" ? english.selectpricing_option : dutch.selectpricing_option}}</option>
            <option value="paid">{{language == "English" ? english.paid : dutch.paid}}</option>
            <option value="free">{{language == "English" ? english.free : dutch.free}}</option>
          </select>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <input type="text" class="form-control radius" [(ngModel)]="recipe.videoUrl" id="videoUrl"
            aria-describedby="videoUrl" [placeholder]="language == 'English' ? english.add_video_url : dutch.add_video_url">
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <input type="text" class="form-control radius" [(ngModel)]="recipe.recipeUrl" id="recipeUrl"
            aria-describedby="recipeUrl" [placeholder]="language == 'English' ? english.add_recipe_url : dutch.add_recipe_url">
        </div>
      </div>
    </div>

    <div class="form-group text-center">
      <label>OR</label>
    </div>

    <div class="card radius">
      <div class="card-body radius">
        <div class="margin">
          <quill-editor [styles]="{height: '300px'}" [(ngModel)]="recipe.recipeEn" (onEditorCreated)="created($event)"
            placeholder="Recipe(EN)"></quill-editor>
        </div>
        <div>
          <quill-editor [styles]="{height: '300px'}" [(ngModel)]="recipe.recipeNl" (onEditorCreated)="created($event)"
            placeholder="Recipe(Nl)"></quill-editor>
        </div>

      </div>

    </div>

    <div class="card radius">
      <div class="card-body radius  col-sm-6">
        <h4>{{language == "English" ? english.total_carbs : dutch.total_carbs}}: {{sum.carbs}}</h4>
        <h4>{{language == "English" ? english.total_fruits : dutch.total_fruits}}: {{sum.fruits}}</h4>
        <h4>{{language == "English" ? english.total_vegetables : dutch.total_vegetables}}: {{sum.vegetables}}</h4>
        <h4>{{language == "English" ? english.total_herbs : dutch.total_herbs}}: {{sum.herbs}}</h4>
        <h4>{{language == "English" ? english.total_protein : dutch.total_protein}}: {{sum.protein}}</h4>
        <h4>{{language == "English" ? english.total_fats : dutch.total_fats}}: {{sum.fats}}</h4>
        <h4>{{language == "English" ? english.total_alcoholic_beverages : dutch.total_alcoholic_beverages}}: {{sum.alcoholicBeverages}}</h4>
        <h4>{{language == "English" ? english.total_non_alcoholic_drinks : dutch.total_non_alcoholic_drinks}}: {{sum.nonAlcoholicDrinks}}</h4>
        <h4>{{language == "English" ? english.total_composed_meals : dutch.total_composed_meals}}: {{sum.composedMeals}}</h4>
        <h4>{{language == "English" ? english.total_ingredients : dutch.total_ingredients}}: {{totalIngredientSum}}</h4>
      </div>
    </div>



  </div>
  <div class="col-md-3">
    <div class="form-group m-t-30 justify-content-end">
      <button type="button" class="btn cus-btns  w-100 radius" (click)="AddRecipe()">
        {{language == "English" ? english.publish : dutch.publish}}
      </button>
    </div>
    <!-- Categories -->
    <div class="m-t-10">
      <ejs-accordion>
        <e-accordionitems>
          <e-accordionitem expanded='true'>
            <ng-template #header>
              <div>{{language == "English" ? "Meal Type" : dutch.meal_type}}</div>
            </ng-template>
            <ng-template #content>
              <div class="todo-widget scrollable" style="height:200px;" [perfectScrollbar]="config">
                <ul class="list-task todo-list list-group m-b-0" data-role="tasklist">
                  <li class="list-group-item todo-item" *ngFor="let m of mType" data-role="task">
                    <div class="form-check form-check-inline">
                      <div class="custom-control custom-checkbox">
                        <input (click)="addMealType(m)" name="block" class="custom-control-input" id="'b-'{{m}}"
                          type="checkbox" />
                        <label *ngIf="language == 'English'" class="custom-control-label" for="'b-'{{m}}">{{m}}</label>
                        <label *ngIf="language == 'Dutch'" class="custom-control-label" for="'b-'{{m}}">
                          {{m == "Vegan" ? "Veganistisch" : m == "Vegetarian" ? "Vegetarisch" : m == "Omnivore" ?
                          "Omnivoor" : m}}
                        </label>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </ng-template>
          </e-accordionitem>
        </e-accordionitems>
      </ejs-accordion>
    </div>

    <!-- Categories End -->

    <!-- Categories -->
    <div class="m-t-10">
      <ejs-accordion>
        <e-accordionitems>
          <e-accordionitem expanded='true'>
            <ng-template #header>
              <div>{{language == "English" ? english.recipe_type : dutch.recipe_type}}</div>
            </ng-template>
            <ng-template #content>
              <div class="todo-widget scrollable" style="height:200px;" [perfectScrollbar]="config">
                <ul class="list-task todo-list list-group m-b-0" data-role="tasklist">
                  <li class="list-group-item todo-item" *ngFor="let m of rType" data-role="task">
                    <div class="form-check form-check-inline">
                      <div class="custom-control custom-checkbox">
                        <input (click)="addRecipeType(m)" name="block" class="custom-control-input" id="'b-'{{m}}"
                          type="checkbox" />
                        <label *ngIf="language == 'English'" class="custom-control-label" for="'b-'{{m}}">{{m}}</label>
                        <label *ngIf="language == 'Dutch'" class="custom-control-label" for="'b-'{{m}}">
                          {{m == "Breakfast" ? dutch.breakfast : m == "lunch" ? dutch.lunch : m == "Snach" ? dutch.snack
                          : m == "Dinner" ? dutch.dinner : m }}
                        </label>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </ng-template>
          </e-accordionitem>
        </e-accordionitems>
      </ejs-accordion>
    </div>

    <!-- Categories End -->

    <!-- Calories -->
    <div class="m-t-10">
      <ejs-accordion>
        <e-accordionitems>
          <e-accordionitem expanded='true'>
            <ng-template #header>
              <div>{{language == "English" ? english.specifications : dutch.specifications}}</div>
            </ng-template>
            <ng-template #content>
              <div class="todo-widget scrollable" style="height:200px; text-align: left;" [perfectScrollbar]="config">
                <ul class="list-task todo-list list-group m-b-0" data-role="tasklist">
                  <li class="list-group-item todo-item" *ngFor="let s of specification" data-role="task">
                    <div class="form-check form-check-inline">
                      <div class="custom-control custom-checkbox">
                        <input (click)="addSpecification(s)" name="block" class="custom-control-input" id="'b-'{{s}}"
                          type="checkbox" />
                        <label *ngIf="language == 'English'" class="custom-control-label" for="'b-'{{s}}">{{s}}</label>
                        <label *ngIf="language == 'Dutch'" class="custom-control-label" for="'b-'{{s}}">
                          {{s == "Gluten Free" ? "Glutenvrij" : s == "Lactose Free" ? "Lactose vrij" : s == "High Carb"
                          ? "Hoge
                          koolhydraten" : s == "High Fat" ? "Veel vet" : s == "High Protein" ? "Hoog proteïnegehalte" :
                          s}}
                        </label>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </ng-template>
          </e-accordionitem>
        </e-accordionitems>
      </ejs-accordion>
    </div>
    <!-- Calories End -->


    <!-- Feature Image -->

    <div class="m-t-10">
      <ejs-accordion>
        <e-accordionitems>
          <e-accordionitem expanded='true'>
            <ng-template #header>
              <div>{{language == "English" ? english.feature_image : dutch.feature_image}}</div>
            </ng-template>
            <ng-template #content>
              <div class="upload-btn-wrapper pointer">
                <button style="padding: 0; border: 0; background: transparent;" class="btn1">
                  <div
                    style="flex-direction: column; border: 2px dashed #999; background-color: transparent; width: 200px; height: 100px; display: flex; justify-content: center; align-items: center;">
                    <img *ngIf="imageUrl"
                      style="opacity: 0.7; z-index: 1; position: absolute; top: 0; bottom: 0; left: 0; right: 0"
                      [src]="imageUrl" width="300" height="200" />

                    <i *ngIf="!imageUrl" style="z-index: 2; color: #444;" class="fa fa-upload pointer"></i>
                    <span *ngIf="!imageUrl" style="z-index: 2; color: #444; font-weight: 20px;"
                      class="text-muted">{{language == "English" ? english.upload_feature_image :
                      dutch.upload_feature_image}}</span>
                  </div>
                </button>
                <input type="file" name="banner" #fileInput (change)="onChange(fileInput.files[0])"
                  class="custom-file-input" id="banner">
              </div>
            </ng-template>
          </e-accordionitem>
        </e-accordionitems>
      </ejs-accordion>
    </div>

    <!-- Carbs -->
    <div class="m-t-10">
      <ejs-accordion>
        <e-accordionitems>
          <e-accordionitem expanded='true'>
            <ng-template #header>
              <div>{{language == "English" ? english.carbs : dutch.carbs}}</div>
            </ng-template>
            <ng-template #content>
              <form #myForm="ngForm">
                <div class="card-body">
                  <button *ngFor="let c of recipe.carbs" type="button"
                    class="btn btn-xs btn-rounded btn-outline-secondary" style="margin:2px ">
                    {{language == "English" ? c?.ingredient?.nameEn : c?.ingredient?.nameNl}} <span
                      class="badge badge-dark">{{c?.grams}}</span>
                  </button>
                  <div class="input-group my-group">
                    <!-- <span [(ngModel)]="tmpVal.name = c.nameEn" ></span> -->
                    <input type="Number" class="form-control" name="grams" [(ngModel)]="carb.grams" placeholder="grams">
                    <select id="carbs" class="selectpicker form-control" name="carb" [(ngModel)]="carb.ingredient">
                      <option *ngFor="let c of carbs" [ngValue]="c">
                        {{language == "English" ? c?.nameEn : c?.nameNl}}
                      </option>
                    </select>
                    <span class="input-group-btn"><button class="btn add-grams " type="submit"
                        (click)="addCarb(myForm, carb.grams)">Add</button></span>

                  </div>
                </div>
              </form>
            </ng-template>
          </e-accordionitem>
        </e-accordionitems>
      </ejs-accordion>
    </div>
    <!-- Carbs End -->

    <!-- Fruits -->
    <div class="m-t-10">
      <ejs-accordion>
        <e-accordionitems>
          <e-accordionitem expanded='true'>
            <ng-template #header>
              <div>{{language == "English" ? english.fruits : dutch.fruits}}</div>
            </ng-template>
            <ng-template #content>
              <form #myForm="ngForm">
                <div class="card-body">
                  <button *ngFor="let c of recipe.fruits" type="button"
                    class="btn btn-xs btn-rounded btn-outline-secondary" style="margin:2px ">
                    {{language == "English" ? c?.ingredient?.nameEn : c?.ingredient?.nameNl}} <span class="badge badge-dark">{{c?.grams}}</span>
                  </button>
                  <div class="input-group my-group">
                    <!-- <span [(ngModel)]="tmpVal.name = c.nameEn" ></span> -->
                    <input type="Number" class="form-control" name="grams" [(ngModel)]="fruit.grams"
                      placeholder="grams">
                    <select id="fruits" class="selectpicker form-control" name="fruit" [(ngModel)]="fruit.ingredient">
                      <option *ngFor="let f of fruits" [ngValue]="f">{{language == "English" ? f?.nameEn : f?.nameNl}}</option>
                    </select>
                    <span class="input-group-btn"><button class="btn add-grams" type="submit"
                        (click)="addfruit(myForm, fruit.grams)">Add</button></span>

                  </div>
                </div>
              </form>
            </ng-template>
          </e-accordionitem>
        </e-accordionitems>
      </ejs-accordion>
    </div>
    <!-- Fruits End -->

    <!-- Vegetable -->
    <div class="m-t-10">
      <ejs-accordion>
        <e-accordionitems>
          <e-accordionitem expanded='true'>
            <ng-template #header>
              <div>{{language == "English" ? english.vegetables : dutch.vegetables}}</div>
            </ng-template>
            <ng-template #content>
              <form #myForm="ngForm">
                <div class="card-body">
                  <!-- <button *ngFor="let c of recipe.vegetables" class="alert alert-success alert-dismissible fade in">
                                    <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                    {{c?.ingredient?.nameEn}} <span class="badge badge-dark">{{c?.grams}}</span>
                                  </button> -->
                  <button *ngFor="let c of recipe.vegetables" type="button"
                    class="btn btn-xs btn-rounded btn-outline-secondary" style="margin:2px ">
                    {{language == "English" ? c?.ingredient?.nameEn : c?.ingredient?.nameNl}} <span class="badge badge-dark">{{c?.grams}}</span>
                  </button>
                  <div class="input-group my-group">
                    <!-- <span [(ngModel)]="tmpVal.name = c.nameEn" ></span> -->
                    <input type="Number" class="form-control" name="grams" [(ngModel)]="vegetable.grams"
                      placeholder="grams">
                    <select id="vegetable" class="selectpicker form-control" name="vegetable"
                      [(ngModel)]="vegetable.ingredient">
                      <option *ngFor="let v of vegetables" [ngValue]="v">{{language == "English" ? v?.nameEn : v?.nameNl}}</option>
                    </select>
                    <span class="input-group-btn"><button class="btn add-grams" type="submit"
                        (click)="addvegetable(myForm, vegetable.grams)">Add</button></span>

                  </div>
                </div>
              </form>
            </ng-template>
          </e-accordionitem>
        </e-accordionitems>
      </ejs-accordion>
    </div>
    <!-- Vegetable End -->

    <!-- Herb -->
    <div class="m-t-10">
      <ejs-accordion>
        <e-accordionitems>
          <e-accordionitem expanded='true'>
            <ng-template #header>
              <div>{{language == "English" ? english.herbs : dutch.herbs}}</div>
            </ng-template>
            <ng-template #content>
              <form #myForm="ngForm">
                <div class="card-body">
                  <button *ngFor="let c of recipe.herbs" type="button"
                    class="btn btn-xs btn-rounded btn-outline-secondary" style="margin:2px ">
                    {{language == "English" ? c?.ingredient?.nameEn : c?.ingredient?.nameNl}} <span class="badge badge-dark">{{c?.grams}}</span>
                  </button>
                  <div class="input-group my-group">
                    <!-- <span [(ngModel)]="tmpVal.name = c.nameEn" ></span> -->
                    <input type="Number" class="form-control" name="grams" [(ngModel)]="herb.grams" placeholder="grams">
                    <select id="herb" class="selectpicker form-control" name="herb" [(ngModel)]="herb.ingredient">
                      <option *ngFor="let h of herbs" [ngValue]="h">{{language == "English" ? h?.nameEn : h?.nameNl}}</option>
                    </select>
                    <span class="input-group-btn"><button class="btn add-grams" type="submit"
                        (click)="addherb(myForm, herb.grams)">Add</button></span>

                  </div>
                </div>
              </form>
            </ng-template>
          </e-accordionitem>
        </e-accordionitems>
      </ejs-accordion>
    </div>
    <!-- Herb End -->

    <!-- Protein -->
    <div class="m-t-10">
      <ejs-accordion>
        <e-accordionitems>
          <e-accordionitem expanded='true'>
            <ng-template #header>
              <div>{{language == "English" ? english.protein : dutch.protein}}</div>
            </ng-template>
            <ng-template #content>
              <form #myForm="ngForm">
                <div class="card-body">
                  <button *ngFor="let c of recipe.protein" type="button"
                    class="btn btn-xs btn-rounded btn-outline-secondary" style="margin:2px ">
                    {{language == "English" ? c?.ingredient?.nameEn : c?.ingredient?.nameNl}} <span class="badge badge-dark">{{c?.grams}}</span>
                  </button>
                  <div class="input-group my-group">
                    <!-- <span [(ngModel)]="tmpVal.name = c.nameEn" ></span> -->
                    <input type="Number" class="form-control" name="grams" [(ngModel)]="prot.grams" placeholder="grams">
                    <select id="protein" class="selectpicker form-control" name="protein" [(ngModel)]="prot.ingredient">
                      <option *ngFor="let p of protein" [ngValue]="p">{{language == "English" ? p?.nameEn : p?.nameNl}}</option>
                    </select>
                    <span class="input-group-btn"><button class="btn add-grams" type="submit"
                        (click)="addprotein(myForm, prot.grams)">Add</button></span>

                  </div>
                </div>
              </form>
            </ng-template>
          </e-accordionitem>
        </e-accordionitems>
      </ejs-accordion>
    </div>
    <!-- Protein End -->

    <!-- Protein -->
    <div class="m-t-10">
      <ejs-accordion>
        <e-accordionitems>
          <e-accordionitem expanded='true'>
            <ng-template #header>
              <div>{{language == "English" ? english.fat : dutch.fat}}</div>
            </ng-template>
            <ng-template #content>
              <form #myForm="ngForm">
                <div class="card-body">
                  <button *ngFor="let c of recipe.fats" type="button"
                    class="btn btn-xs btn-rounded btn-outline-secondary" style="margin:2px ">
                    {{language == "English" ? c?.ingredient?.nameEn : c?.ingredient?.nameNl}} <span class="badge badge-dark">{{c?.grams}}</span>
                  </button>
                  <div class="input-group my-group">
                    <!-- <span [(ngModel)]="tmpVal.name = c.nameEn" ></span> -->
                    <input type="Number" class="form-control" name="grams" [(ngModel)]="fat.grams" placeholder="grams">
                    <select id="fat" class="selectpicker form-control" name="fat" [(ngModel)]="fat.ingredient">
                      <option *ngFor="let f of fats" [ngValue]="f">{{language == "English" ? f?.nameEn : f?.nameNl}}</option>
                    </select>
                    <span class="input-group-btn"><button class="btn add-grams" type="submit"
                        (click)="addfat(myForm, fat.grams)">Add</button></span>

                  </div>
                </div>
              </form>
            </ng-template>
          </e-accordionitem>
        </e-accordionitems>
      </ejs-accordion>
    </div>

    <div class="m-t-10">
      <ejs-accordion>
        <e-accordionitems>
          <e-accordionitem expanded='true'>
            <ng-template #header>
              <div>{{language == "English" ? english.alcoholic_beverage : dutch.alcoholic_beverage}}</div>
            </ng-template>
            <ng-template #content>
              <form #myForm="ngForm">
                <div class="card-body">
                  <button *ngFor="let a of recipe.alcogolicBeverages" type="button"
                    class="btn btn-xs btn-rounded btn-outline-secondary" style="margin:2px ">
                    {{language == "English" ? a?.ingredient?.nameEn : a?.ingredient?.nameNl}} <span class="badge badge-dark">{{a?.grams}}</span>
                  </button>
                  <div class="input-group my-group">
                    <!-- <span [(ngModel)]="tmpVal.name = c.nameEn" ></span> -->
                    <input type="Number" class="form-control" name="grams" [(ngModel)]="alcoholicBeverage.grams"
                      placeholder="grams">
                    <select id="alcoholicBeverage" class="selectpicker form-control" name="alcoholicBeverage"
                      [(ngModel)]="alcoholicBeverage.ingredient">
                      <option *ngFor="let a of alcoholicBeverages" [ngValue]="a">{{language == "English" ? a?.nameEn : a?.nameNl}}</option>
                    </select>
                    <span class="input-group-btn"><button class="btn add-grams" type="submit"
                        (click)="addAlcoholicBeverage(myForm, alcoholicBeverage.grams)">Add</button></span>

                  </div>
                </div>
              </form>
            </ng-template>
          </e-accordionitem>
        </e-accordionitems>
      </ejs-accordion>
    </div>

    <div class="m-t-10">
      <ejs-accordion>
        <e-accordionitems>
          <e-accordionitem expanded='true'>
            <ng-template #header>
              <div>{{language == "English" ? english.non_alcoholic_drinks : dutch.non_alcoholic_drinks}}</div>
            </ng-template>
            <ng-template #content>
              <form #myForm="ngForm">
                <div class="card-body">
                  <button *ngFor="let a of recipe.nonAlcoholicDrinks" type="button"
                    class="btn btn-xs btn-rounded btn-outline-secondary" style="margin:2px ">
                    {{language == "English" ? a?.ingredient?.nameEn : a?.ingredient?.nameNl}} <span class="badge badge-dark">{{a?.grams}}</span>
                  </button>
                  <div class="input-group my-group">
                    <!-- <span [(ngModel)]="tmpVal.name = c.nameEn" ></span> -->
                    <input type="Number" class="form-control" name="grams" [(ngModel)]="nonAlcoholicBeverage.grams"
                      placeholder="grams">
                    <select id="nonAlcoholicBeverage" class="selectpicker form-control" name="nonAlcoholicBeverage"
                      [(ngModel)]="nonAlcoholicBeverage.ingredient">
                      <option *ngFor="let a of nonAlcoholicBeverages" [ngValue]="a">{{language == "English" ? a?.nameEn : a?.nameNl}}</option>
                    </select>
                    <span class="input-group-btn"><button class="btn add-grams" type="submit"
                        (click)="addNonAlcoholicDrink(myForm, nonAlcoholicBeverage.grams)">Add</button></span>

                  </div>
                </div>
              </form>
            </ng-template>
          </e-accordionitem>
        </e-accordionitems>
      </ejs-accordion>
    </div>

    <div class="m-t-10">
      <ejs-accordion>
        <e-accordionitems>
          <e-accordionitem expanded='true'>
            <ng-template #header>
              <div>{{language == "English" ? english.composed_meals : dutch.composed_meals}}</div>
            </ng-template>
            <ng-template #content>
              <form #myForm="ngForm">
                <div class="card-body">
                  <button *ngFor="let a of recipe.composedMeals" type="button"
                    class="btn btn-xs btn-rounded btn-outline-secondary" style="margin:2px ">
                    {{language == "English" ? a?.ingredient?.nameEn : a?.ingredient?.nameNl}} <span class="badge badge-dark">{{a?.grams}}</span>
                  </button>
                  <div class="input-group my-group">
                    <!-- <span [(ngModel)]="tmpVal.name = c.nameEn" ></span> -->
                    <input type="Number" class="form-control" name="grams" [(ngModel)]="composedMeal.grams"
                      placeholder="grams">
                    <select id="composedMeal" class="selectpicker form-control" name="composedMeal"
                      [(ngModel)]="composedMeal.ingredient">
                      <option *ngFor="let a of composedMeals" [ngValue]="a">{{language == "English" ? a?.nameEn : a?.nameNl}}</option>
                    </select>
                    <span class="input-group-btn"><button class="btn add-grams" type="submit"
                        (click)="addComposedMeal(myForm, composedMeal.grams)">Add</button></span>

                  </div>
                </div>
              </form>
            </ng-template>
          </e-accordionitem>
        </e-accordionitems>
      </ejs-accordion>
    </div>
    <!-- Protein End -->

    <!-- Feature Image -->

    <!-- <div class="m-t-10">
                <ejs-accordion >
                    <e-accordionitems>
                      <e-accordionitem expanded='true'>
                        <ng-template  #header>
                          <div>Feature Image</div>
                        </ng-template>
                        <ng-template #content>
                          <div class="upload-btn-wrapper pointer">
                            <button style="padding: 0; border: 0; background: transparent;"
                                class="btn1">
                                <div
                                    style="flex-direction: column; border: 2px dashed #999; background-color: transparent; width: 200px; height: 100px; display: flex; justify-content: center; align-items: center;">
                                    <img *ngIf="imageUrl"
                                        style="opacity: 0.7; z-index: 1; position: absolute; top: 0; bottom: 0; left: 0; right: 0"
                                        [src]="imageUrl" width="300" height="200" />

                                        <i *ngIf="!imageUrl" style="z-index: 2; color: #444;"
                                            class="fa fa-upload pointer"></i>
                                            <span *ngIf="!imageUrl" style="z-index: 2; color: #444; font-weight: 20px;" class="text-muted">Upload Feature Image</span>
                                      </div>
                            </button>
                          <input type="file" name="banner" #fileInput (change)="onChange(fileInput.files[0])" class="custom-file-input" id="banner">
                        </div>
                        </ng-template>
                      </e-accordionitem>
                    </e-accordionitems>
                </ejs-accordion>
              </div> -->
  </div>
</div>
